In [34]:
import pandas as pd
import numpy as np
import ast

In [20]:
df = pd.read_csv(r"/Users/paopao_ch/Documents/projects/v1_modelling/Mouse-V1-Pytorch/data/finding_lambda.csv", sep="|")
df = df.sort_values("lambda")
cols = ['lambda']
df[cols] = df[df[cols] < 48][cols]
df = df.dropna()
df = df[["lambda","num_iter","mean"]].reset_index()
df.head()

   index  lambda  num_iter                                               mean
0      0    12.0        31  [-4.2768, -21.9073, -2.0103, -19.9968, -2.5976...
1      4    12.0        66  [-0.8985, -18.5079, -2.6169, -17.7898, -2.3493...
2      6    12.0        82  [-1.3030, -18.0414, 2.3252, -15.7817, -2.5416,...
3     10    12.0        22  [-4.8202, -21.3358, 2.5580, -17.7112, -2.2108,...
4      2    18.0        49  [-7.1651, -17.9050, -0.9162, -14.4933, -1.5372...

In [31]:
lambdas = df["lambda"].unique()
for lambda_ in lambdas:
    curent_means = df[df["lambda"] == lambda_]["mean"].reset_index(drop=True).to_dict()

In [37]:
for elem in curent_means:
    print(np.array(ast.literal_eval(curent_means[elem])))

[-4.9123, -19.0765, 1.0564, -18.7916, -2.132, 5.0352, -3.3736, 4.4416, -132.9763, -135.3037, -133.967, -119.917]
[-3.6276, -18.1008, 0.6265, -16.903, -1.9498, 7.1188, -2.8061, 5.9496, -132.1848, -133.3412, -135.6932, -161.8084]
[-2.4814, -17.8025, 2.8076, -17.3774, -1.7155, 5.93, -2.8057, 5.8774, -136.8175, -137.1566, -138.1623, -152.392]
[-4.1629, -18.6211, 2.3306, -17.5392, -1.6719, 6.7402, -3.0724, 6.0538, -151.8353, -123.3364, -146.268, -151.8975]